<div class="container-fluid">
    <section class="hero">
        <div class="textos-hero">
            <h1>SYSO</h1>
            <div style="width: 60%;text-align: center;">
                <p>EN SYSO CONSULTORÍA OFRECEMOS UN ÁMPLIO PORTAFOLIO PARA QUE SU EMPRESA PUEDA IMPLEMENTAR UN SISTEMA DE GESTIÓN EN SEGURIDAD Y SALUD EN EL TRABAJO</p>
            </div>
            
            <a href="#contacto" class="btn ">Contactenos</a>
        </div>
        <div class="svg-hero"style="height: 150px; overflow: hidden; background: rgba(0, 0, 0, 0.5);">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill:#fff;"></path>
            </svg>
        </div>

    </section>

    <div>
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                
                <section class="row section-information">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/card_1.jpg" class="card-img-top" alt="Card_1" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">SISTEMA DE GESTIÓN SST</h5>
                                <a href="#" class="btn btn-block btn-primary">
                                    Más Info <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/card_2.jpg" class="card-img-top" alt="Card_1" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">CONSULTORES SYSO</h5>
                                <a href="#" class="btn btn-block btn-primary">
                                    Más Info <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/card_3.jpg" class="card-img-top" alt="Card_1" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">APP GESTOR SYSO</h5>
                                <a href="#" class="btn btn-block btn-primary">
                                    Más Info <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <div class="card" style="width: 18rem;">
                            <img src="assets/img/card_4.jpg" class="card-img-top" alt="Card_1" style="width: 100%;">
                            <div class="card-body">
                                <h5 class="card-title">E-LEARNING SYSO</h5>
                                <a href="#" class="btn btn-block btn-primary">
                                    Más Info <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>    
            
                </section>

                <section class="row section-information">
                    <div class="col-xs-12">
                        <label class="section-title">NUESTRAS ALIANZAS ESTATÉGICAS HACEN QUE NUESTRO TRABAJO Y NUESTROS SERVICIOS TENGAN LOS MÁS ALTOS INDICES DE CALIDAD.</label>
                    </div>
                    <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)"
                        style="background-color: #fff;">
                        
                        <div ngxSlickItem *ngFor="let slide of slides" class="slide" style="background-color: #fff;">
                            <img src="{{ slide.img }}" alt="" style="width: 200px;height: 200px;margin: auto;">
                        </div>
                    </ngx-slick-carousel>
                    <!--<button (click)="addSlide()">Add</button>
                    <button (click)="removeSlide()">Remove</button>
                    <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
                    <button (click)="slickModal.unslick()">unslick</button>-->
                </section>

            </div>
        </div>
    </div>

</div>
