<div class="footer-container">
    <div class="container">
        <div class="row justify-content-center" style="padding-top:50px;">
            <div class="col-6 justify-content-center" style="text-align: center;">
                <img src="assets/img/Logo_Original_-_Versión_Final-02.png" alt="LogoOriginal" width="150" height="84">
                <p>
                    <b>Contacto</b><br>
                    Calle 73 # 10-10 Oficina 513 <br>
                    PBX: 7022180 - 300 0975 <br>
                    Bogotá- Colombia
                </p>
                <div class="social-media-container">
                    <a href="https://www.facebook.com/sysoconsultoria/" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-linkedin"></i> 
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
