<div class="row justify-content-center">
    <div class="col-xs-12 col-md-6">
        <p class="contact-form-text">
            Déjanos tu mensaje y nos pondremos en contacto cuanto antes.
        </p>
        <div class="col-12 form-container">
            <form class="row">
                <div class="col-xs-12 col-md-12">
                    <label for="name">Nombre</label><br>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="col-xs-12 col-md-12">
                    <label for="email">Correo electrónico</label><br>
                    <input type="text" class="form-control" id="email">
                </div>
                <div class="col-xs-12 col-md-12">
                    <label for="phone">Teléfono</label><br>
                    <input type="text" class="form-control" id="phone">
                </div>
                <div class="col-xs-12 col-md-12">
                    <label for="message">Mensaje</label><br>
                    <textarea type="text" rows="5" class="form-control" id="message"></textarea>
                </div>
                <div class="col-xs-12 col-md-12">
                    <hr>
                    <button type="button" class="btn btn-primary btn-block">
                        <i class="fas fa-paper-plane"></i> Enviar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>